:root {
  /* Light theme */
  /*--color-bg-primary: 248 250 252;
  --color-text-primary: 17 24 39;
  --color-text-secondary: 0 0 0;
  --color-text-muted: 120 126 135;
  --color-border: 221 224 228;
  --color-accent: 0 200 150;*/
  --color-bg-primary: 245 247 250;
  --color-text-primary: 15 23 42;
  --color-text-secondary: 71 85 105;
  --color-text-muted: 148 163 184;
  --color-border: 191 198 210;
  --color-accent: 14 165 233;
  --color-card-bg: 243 244 246;
  --color-card-bg-hover: 235 235 235;
  --color-card-border: 209 213 219;
}

[data-theme="dark"] {
  /* Dark theme (domyślny) */
  --color-bg-primary: 0 0 0;
  --color-text-primary: 221 221 221;
  --color-text-secondary: 209 213 219;
  --color-text-muted: 107 114 128;
  --color-border: 48 52 65;
  --color-accent: 0 223 154;
  --color-card-bg: 17 24 39; /* gray-900 */
  --color-card-bg-hover: 26 26 26;
  --color-card-border: 0 0 0; /* gray-700 */
}
