.App {
  text-align: center;
  /* font-family: "Inter", sans-serif; */
  font-family: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* user-select: none; */
}
